[Unit]
Description=Update PKI/TLS certificate store
Documentation=man:make-ca(8)
DefaultDependencies=no
After=local-fs.target network-online.target
Before=shutdown.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/make-ca -g

